:root {
   --heading-font-family: 'Lora', serif;
    --default-font-family: 'Poppins', sans-serif;
    --branding-color: #A10853;
    --secondary-color: #F9F7FE;
}

body {
    font-family: var(--default-font-family);
    background-color: rgba(0,0,0,0.95);
    
}
h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    opacity: 90%;
}
h2{
    font-size: 48px;
}

p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    color: var(--secondary-color);
    opacity: 75%;
}

.hero-image {
    background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/images/pink-leaf-resize.jpg');
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 730px;
}
.hero-text {
    text-align: center;
    padding: 150px 20px;
}
.hero-text p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    opacity: 75%;
}

.hero-text h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: var(--secondary-color);
    opacity: 75%;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;

}
.btn-branding:hover {
    background: none;
    color: var(--secondary-color);
    border: 2px solid var(--branding-color);
}

.btn-branding-outline {
    border-radius: 4px;
    color: var(--branding-color);
    border: 2px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 18px 48px;
}

.btn-branding-outline:hover {
    background-color: var(--branding-color);
    color: var(--secondary-color)
}

.contact-btn {
    margin-top: 100px;
}

.description-paragraph {
    opacity: 70%;
    line-height: 30px;
}

.project-description {
    padding: 50px 30px;
}
.about-section {
    padding: 150px 20px;
}
.about-section h1 {
    font-size: 64px;
    line-height: 60px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.5;
}
.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
    font-weight: 700;
}

.about-section-content {
    margin: 30px;
}



@media(max-width:992px) {
   h1 {
       font-size: 48px;
   }
   .project-header {
       font-size: 48px;
   }
   .project-description {
       padding: 0;
       text-align: center;
   }
   .about-section {
       text-align: center;
       padding: 0;
   }
}
